@charset "UTF-8";


@media screen and (min-width:360px) and (max-width:389px) {
   
.rodape button{
    margin-left: 3em;
}
}

@media screen and (min-width:390px) and (max-width:426px) {

}

@media screen and (min-width:427px) and (max-width:833px) {
    .rodape button{
        margin-top: 2em;
        margin-left: 5.5em;
    }
}

@media screen and (min-width:834px) and (max-width:1193px){
}


@media screen and (min-width:1193px) and (max-width:1727px){
    main .img-inicio img {
        display: relative;
        width: 100vw;
        height: 60vh;
        margin-left: 0em;    
    }
}

@media screen and (min-width:1728px) and (max-width:1920px){
    main .img-inicio img {
        display: relative;
        width: 100vw;
        height: 60vh;
        margin-left: 0em;    
    }
}