@charset "UTF-8";


@media screen and (min-width:360px) and (max-width:389px) {
   
.rodape button{
    margin-left: 3em;
}
}

@media screen and (min-width:390px) and (max-width:426px) {

}

@media screen and (min-width:427px) and (max-width:992px) {
    .rodape button{
        margin-top: 2em;
        margin-left: 5.5em;
    }
}