@charset "UTF-8";

/*
    color:
    1 - #526258
    2 - #484747

*/


*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,html{
    width: 100vw;
}


header{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.904);
}

span#burguer{
    display: block;
    color: #526258;
    text-align: right;
    padding: 10px;
    cursor: pointer;
    width: 1.8em;
    margin-left: 14em;
    margin-top: -2em;
    margin-bottom: 1em;
}

span#burguer:hover{
    background-color: #526258;
    color: white;
    border-radius: 10px;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #526258;
    color: white;
    border-top: 1px solid white;
}

menu > ul > li a:hover{
    background-color: #7c9585;
}

header img{
    display: block;
    width: 110px;
    margin:auto;
    padding-top: 10px;
}

header img:hover{
    transform: translate(0px, 1px);
    transition: transform .3s;
}

main{
    background-color: rgba(255, 255, 255, 0.904);
}
main .img-inicio img{
    display: block;
    width: 100%;

}

.titulo{
    text-align: left;
    padding: 20px;
}

.titulo p{
    margin-top: 10px;
    text-align: justify;
}

section.form div{
    margin-left: 20px;
    padding-bottom: 20px;
}

section.form .box-name{
    display: flex;
    justify-content: left;
    font-weight: normal;
    color: #526258;
    margin-left: 1.25em;
}

section.form .box-name label{
    margin-left: 0.8em;
}

section.form .box-email{
    display: flex;
    justify-content: left;
    font-weight: normal;
    color: #526258;
    margin-left: 1.25em;
}

section.form .box-email label{
    margin-left: 0.8em;
}

section.form .box-whatsapp{
    display: flex;
    justify-content: left;
    font-weight: normal;
    color: #526258;
    margin-left: 1.25em;
}

section.form .box-whatsapp label{
    margin-left: 0.8em;
}

section.form .box-perguntas1-text{
margin-left: -1.5px;
font-weight: normal;
color: #526258;
margin-left: 1.25em;
}

section.form .box-perguntas1 label{
    margin-left: 0.8em;
}

section.form .box-perguntas1{
    display: flex;
    justify-content: left;
    flex-direction: column;
    
}

.box-name input{
    width: 326px;
    margin-top: 5px;    
    margin-left: 0.8em;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.607);
}

.box-email input{
    width: 326px;
    margin-top: 5px;
    margin-left: 0.8em;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.607);
    
}

.box-whatsapp input{
    width: 326px;
    margin-top: 5px;
    margin-left: 0.8em;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.607);
}


.box-perguntas1 > p{
    width: 326px;
    font-weight: normal;
    margin-top: 5px;
    color: #526258;
}


.box-perguntas1 > p > select{
    width: 326px;
    margin-top: 5px;  
    color: #526258;
    margin-left: 0.8em;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.607);
}

.box-mensagem p{
    font-weight: normal;
    margin-top: 5px;
    color: #526258;
    margin-left: 0.8em;
}
.box-mensagem > p > textarea{
    width: 326px;
    margin-top: 5px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.607);
    
}

.box-submit input{
    width: 60px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-left: 0.8em;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.607);
}

.box-submit input:hover{
    background-color:lightgray ;
}

.asterisco{
    color: red;
}