@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100vw;
    height: 100vh;
}

header{
    position: relative;
    width: 100%;
    height: 15.6vh;
}

header img{
    display: block;
    width: 150px;
    margin:auto;
    padding-top: 10px;
}

main{
    width: 100vw;
    margin-top: 20px;
}

main > ul{
    display: flex;
    flex-direction: column;
}

main > ul > li {
  list-style: none;
  background-color: #526258;
  border-bottom: 1px solid white;
  text-align: center;
  padding: 30px;
}

main > ul > li > a{
    text-decoration: none;
    text-transform: none;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
}

main > ul > li > a > .fa{
    position: absolute;
    left: 8%;
    color: black;
}





