@charset "UTF-8";

/*
    color:
    1 - #526258
    2 - #484747

*/


*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,html{
    width: 100vw;
}


header{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.904);
}

span#burguer{
    display: block;
    color: #526258;
    text-align: right;
    padding: 10px;
    cursor: pointer;
    width: 1.8em;
    margin-left: 14em;
    margin-top: -2em;
    margin-bottom: 1em;
}

span#burguer:hover{
    background-color: #526258;
    color: white;
    border-radius: 10px;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #526258;
    color: white;
    border-top: 1px solid white;
}

menu > ul > li a:hover{
    background-color: #7c9585;
}

header img{
    display: block;
    width: 110px;
    margin:auto;
    padding-top: 10px;
}

header img:hover{
    transform: translate(0px, 1px);
    transition: transform .3s;
}

main{
    background-color: rgba(255, 255, 255, 0.904);
}
main .img-inicio img{
    display: block;
    width: 100%;
}

main .link{
    padding: 10px;
    width: 90vw;
    height: 220px;
    margin:20px;
    background-color: black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.511);
    border-radius: 11px;
    
}

main .link:hover{
    box-shadow: 2px 2px 20px #526258;
    transition: transform .3s;
}

.titulo-link{
    padding: 20px;
    text-align: center;
}

.titulo-link h4{
    font-size: 1.2em;
}
.titulo-link p{
    font-weight: bold;

}
