@charset "UTF-8";

@media screen and (min-width:360px) and (max-width:389px) {
    .social .youtube button{
        width: 280px;
        height: 60px;
        border-radius: 10px;
        background-color: blue;
        color: white;
        margin-left: 2.8em;
        margin-top: 20px;
        margin-bottom: 20px;
      
    }
}

@media screen and (min-width:390px) and (max-width:426px) {
    .social .youtube button{
        width: 280px;
        height: 60px;
        border-radius: 10px;
        background-color: blue;
        color: white;
        margin-left: 4.1em;
        margin-top: 20px;
        margin-bottom: 20px;
      
    }
}

@media screen and (min-width:427px) and (max-width:992px) {
    .social .youtube button{
        width: 280px;
        height: 60px;
        border-radius: 10px;
        background-color: blue;
        color: white;
        margin-left: 5.2em;
        margin-top: 20px;
        margin-bottom: 20px;
      
    }

}