@charset "UTF-8";


@media screen and (min-width:360px) and (max-width:389px) {
    .social .instagram button{
        width: 280px;
        height: 60px;
        border-radius: 10px;
        margin-left: 1.6em;
        background-color: white;
        color: black;
        margin-top: 20px;
    }

    .social .youtube button{
        width: 280px;
        height: 60px;
        border-radius: 10px;
        margin-left: 1.6em;
        background-color: red;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    span#burguer{
        width: 1.8em;
        margin-left: 12.8em;
        margin-top: -2em;
        margin-bottom: 1em;
    }
}

@media screen and (min-width:390px) and (max-width:426px) {
    .social .instagram button{
        width: 280px;
        height: 60px;
        border-radius: 10px;
        margin-left:2.2em;
        background-color: white;
        color: black;
        margin-top: 20px;
    }

    .social .youtube button{
        width: 280px;
        height: 60px;
        border-radius: 10px;
        margin-left: 2.2em;
        background-color: red;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    span#burguer{
        width: 1.8em;
        margin-left: 14em;
        margin-top: -2em;
        margin-bottom: 1em;
    }
}

@media screen and (min-width:427px) and (max-width:833px) {
    .social .instagram button{
        width: 280px;
        height: 60px;
        border-radius:10px;
        margin-left: 3.2em;
        background-color: white;
        color: black;
        margin-top: 20px;
    }

    .social .youtube button{
        width: 280px;
        height: 60px;
        border-radius: 10px;
        margin-left: 3.2em;
        background-color: red;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    span#burguer{
        margin-left: 15.5em;
}
}

@media screen and (min-width:834px) and (max-width:1193px){
    main .img-inicio img{
        display: relative;
        width: 100vw;
        height: 30vh;
        margin-left: 0em;  
    } 

    span#burguer{
        margin-left: 32em;

}
}

@media screen and (min-width:1193px) and (max-width:1727px){
    main .img-inicio img {
        display: relative;
        width: 100vw;
        height: 60vh;
        margin-left: 0em;    
    }

    span#burguer{
        display: none;

    } 

    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
        width: 10.8%;
        font-size: 0.5em;
    }

    menu > ul > li a{
        border: none;
        margin-left:-8px
    }
}

@media screen and (min-width:1728px) and (max-width:1920px){
    main .img-inicio img {
        display: relative;
        width: 100vw;
        height: 60vh;
        margin-left: 0em;    
    }
}