@charset "UTF-8";

@media screen and (min-width:360px) and (max-width:389px) {
    .social .youtube button{
        width: 280px;
        height: 60px;
        border-radius: 10px;
        background-color: blue;
        color: white;
        margin-left: 2.8em;
        margin-top: 20px;
        margin-bottom: 20px;
      
    }
}

@media screen and (min-width:390px) and (max-width:426px) {
    .social .youtube button{
        width: 280px;
        height: 60px;
        border-radius: 10px;
        background-color: blue;
        color: white;
        margin-left: 4.1em;
        margin-top: 20px;
        margin-bottom: 20px;
      
    }
}

@media screen and (min-width:427px) and (max-width:833px) {
    .social .youtube button{
        width: 280px;
        height: 60px;
        border-radius: 10px;
        background-color: blue;
        color: white;
        margin-left: 5.2em;
        margin-top: 20px;
        margin-bottom: 20px;
      
    }

}

@media screen and (min-width:834px) and (max-width:1193px){
    main .img-inicio img{
        display: relative;
        width: 100vw;
        height: 30vh;
        margin-left: 0em;  
    } 
}

@media screen and (min-width:1193px) and (max-width:1727px){
    main .img-inicio img {
        display: relative;
        width: 100vw;
        height: 60vh;
        margin-left: 0em;    
    }
}

@media screen and (min-width:1728px) and (max-width:1920px){
    main .img-inicio img {
        display: relative;
        width: 100vw;
        height: 60vh;
        margin-left: 0em;    
    }
}